img{
    width: 80%;
    height: 100%;
}

@media screen  and (max-width:450px){
    .roaduu img {
        margin-top: 100px;
        width: 330px;
        height: 250px;
        margin-left: 0px;
        margin-right: -8px;
        
       
    }
}