.NavbarItems{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
   
    width: 95%;
    height: 0px;
    margin-top: 0px;
    border-radius: 13px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;

}
.navbar-logo img{
    width: 300px;
    height: 100px;
    margin-left: 6px;
    margin-top: 100px;
 
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    margin-top: 100px;
}
.nav-links{
    text-decoration: none;
    color: rgb(225, 215, 215);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
   
    
}


.nav-links i{
    padding-right: 10px;

}
.nav-links:hover{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    
    border-radius: 4px;
    transition: all 0.2s ease-in-out ;
}


.menu-icons{
    display: none;
}


.nav-links-mob{
    display: none;
}
@media screen  and (max-width:450px){
    .NavbarItems{
        z-index: 99;
    }
    .nav-links i{
        padding-right: 20px;
        margin-top: 35px;
    
    }
    button{
        display: none;
    }
    .menu-icons i{
        margin-top: 35px;
        margin-left: 100px;
    }
    .nav-menu{
        display: flex;
       flex-direction: column;
  
        color: #fff;
      
        background:#031023  ;
     
          opacity: 0.5;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    padding-top: 10px;
    left: -100%;
    opacity: 0;
    align-items: stretch;
   
    margin-top: 200px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
        margin-right: 25%;
        margin-top: 30px;
    }
    .menu-icons i{
        font-size: 0.8rem;
        color: rgb(230, 224, 224);
        padding-left: 9rem;
        margin-left: 75px;
        width: 70px;
        height: 30px;
        margin-top: 24px;
    }
    .nav-menu.active{
    left: 0;
    opacity: 0.8;
    z-index: -1;
    transition: 0.3s ease-in-out;
    color: #fff;
    margin-top: 30px;
    
    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 0.5rem;
       align-items: center;
        margin-top: -45px;
        margin-left:-15px;
    }
    .nav-links:hover{
        color: black;
        transition: none;
   
    }

    .navbar-logo img{
        margin-left: -25px;
        width: 70px;
        height: 30px;
        margin-top: 40px;
    }
   
  
}

